.MessageList {
    flex: 1;
    width: 75vw;
    padding: 20px;
    box-sizing: border-box;
}
.Message {
    display: inline-block;
    margin-bottom: 10px;
    position: relative;
    background-color: lightgray;
    padding: 20px;
    border-radius: 20px;
}
.date {
    padding-right: 10px;
}
.text {
    padding: 0 50px 0 10px;
}
.button {
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    background-color: transparent;
    font-weight: bold;
}
.button:hover {
    cursor: pointer;
    color: red;
}